body {
  background-color: #13161d !important;
  color: #f6f6f6 !important;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #363636;
}

.header {
  position: sticky;
  top: 0;

  .MuiPaper-root {
    background-color: #272727 !important;
  }

  .MuiToolbar-gutters {
    padding: 0;
  }
}

.header-logo {
  color: #057970;
}

.MuiDrawer-paperAnchorLeft {
  padding: 10px 40px;
  background-color: #0f0f0f !important;
  color: #f1f1f1 !important;
}

.MuiListItem-root:hover {
  background-color: #105e5e;
  transition: all 0.3s linear;
}

.MuiListItem-root {
  border-radius: 8px;
}

.MuiListItem-root:hover path {
  fill: #fff;
  transition: all 0.3s linear;
}

.container {
  width: 100%;
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 20px;
}

.section-top {
  padding: 20px 0;
}

.section-title {
  font-size: 2rem !important;
  color: #9b9dab;
  text-decoration: none;
}

.section-sub-title {
  font-size: 1rem;
  color: #9b9dab;
  text-decoration: none;
}
